#{extends 'main.html' /} #{set title:'WITpress | Public Blog' /}
<!-- MyBlog Home Page -->
<!-- Menu -->
<section class="ui four item menu">
  <a class="item" href="/"><h3>Home</h3></a>
	<a class="item" href="/myblog/0"><h3>MyBlog</h3></a>
	<div class="ui dropdown link item">
	  <span class="text"><h3>Blogs</h3></span>
	  <i class="dropdown icon"></i>
	  <div class="menu">
	    #{list items: bloggers, as:'blogger'}
	      <div class="item"><a href="/publicblog/${blogger.id}"><h4>${blogger.firstName} ${blogger.lastName}</h4></a></div>
	    #{/list}
	  </div>
	</div>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<!-- Post content; list of other posts; comments-->
<section class="ui segment">
	<h2>${user.firstName}'s WITpress blog</h2>
	<div class="ui two column grid">
		<div class="ui row">

			<!-- Post content -->
			<div class="ui twelve wide column">
				<div class="item">
					<i class="quote left icon"></i>
					<p>${post.date}</p>
					<h3>${post.title}</h3>
					<p>${post.content}</p>

					<!-- Comments -->
					<h4 class="ui horizontal divider header">
						<i class="comments icon"></i> Comments
					</h4>
					#{list items:post.comments, as:'comment'}
					<h5>${comment.date}</h5>
					<p>${comment.content}</p>
					<div class="ui hidden divider"></div>
					#{/list}

					<!-- Comment form -->
					<form action="/comment" method="POST">
						<div class="ui fluid form segment">
							<div class="field">
								<textarea placeholder="Please leave a comment" type="text"
									name="comment" required></textarea>
								<input style="visibility: hidden" type="text"
									value="${post.id}" name="postid">
							</div>
							<button title="Leave a comment" type="submit"
								class="ui blue submit button">
								<i class="ui comment icon"></i>Comment
							</button>
						</div>
					</form>
				</div>
			</div>

			<!--  List of other posts -->
			<div class="ui four wide column">
				#{list items:posts, as:'post'} <a href="/publicblog/${user.id}/${post.id}">
					<p>${post.title}</p>
				</a>
				<div class="ui hidden divider"></div>
				#{/list}
			</div>
		</div>
	</div>
</section>
<script src="@{'/public/javascripts/dropdown.js'}" type="text/javascript"></script>