#{extends 'main.html' /} #{set title:'WITpress | Write new post' /}
<!-- LOG IN PAGE -->
<!-- Menu -->
<section class="ui four item menu">
	<a class="item" href="/myblog/0"><h3>MyBlog</h3></a>
	<div class="ui dropdown link item">
	  <span class="text"><h3>Blogs</h3></span>
	  <i class="dropdown icon"></i>
	  <div class="menu">
	    #{list items: bloggers, as:'blogger'}
	      <div class="item"><a href="/publicblog/${blogger.id}"><h4>${blogger.firstName} ${blogger.lastName}</h4></a></div>
	    #{/list}
	  </div>
	</div>
	<a class="active item" href="/newpost"><h3>New Post</h3></a>
	<a class="item" href="/logout"><h3>Log out</h3></a>
</section>

<!-- New Post form -->
<section class="ui segment">
	<form action="/createpost" method="POST">
		<div class="ui fluid form segment">
			<div class="field">
				<h2>Write your new post here</h2>
				<input placeholder="Title" name="title" type="text" required>
			</div>
			<div class="field">
				<textarea placeholder="Get writing here..." type="text"
					name="content" required></textarea>
			</div>
			<button type="submit" class="ui blue submit button">
				<i class="ui write icon"></i>Post
			</button>
		</div>
	</form>
</section>
<script src="@{'/public/javascripts/dropdown.js'}" type="text/javascript"></script>