#{extends 'main.html' /} #{set title:'WITpress' /}
<!-- LOG IN PAGE -->
<!-- Menu -->
<section class="ui four item menu">
	<a class="active item" href="/"><h3>Home</h3></a>
	<a class="item" href="/login"><h3>MyBlog</h3></a>
	<div class="ui dropdown link item">
	  <span class="text"><h3>Blogs</h3></span>
	  <i class="dropdown icon"></i>
	  <div class="menu">
	    #{list items: users, as:'user'}
	      <div class="item"><a href="/publicblog/${user.id}"><h4>${user.firstName} ${user.lastName}</h4></a></div>
	    #{/list}
	  </div>
	</div>
	<a class="item" href="/signup"><h3>Sign up</h3></a>
</section>
<section>
		<img src="../../public/images/witpress1.jpg" alt="witpress"
			width="100%" />
</section>
<script src="@{'/public/javascripts/dropdown.js'}" type="text/javascript"></script>