#{extends 'main.html' /} #{set title:'WITpress | Sign up' /}
<!-- SIGN UP PAGE -->
<!-- Menu -->
<section class="ui three item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="active item" href="/signup"><h3>Sign up</h3></a>
	<a class="item" href="/login"><h3>Log in</h3></a>
</section>

<!-- signup form -->
<section class="ui segment">
	<div class="ui grid">
		<div class="eight wide column">
			<form action="/register" method="POST">
				<div class="ui fluid form segment">
					<h3 class="ui header">Create a WITpress blog today!</h3>
					<h5>Register using a valid email address</h5>
					<div class="two fields">
						<div class="field">
							<input placeholder="First Name"
								name="firstName" type="text" required>
						</div>
						<div class="field">
							<input placeholder="Last Name"
								name="lastName" type="text" required>
						</div>
					</div>
						<div class="ui fluid left icon input field">
							<input placeholder="Email" name="email" type="text" required>
							<i class="user icon"></i>
						</div>
						<div class="ui fluid left icon input field">
							<input type="password" id="password" name="password" placeholder="Password" required>
							<i class="lock icon"></i>
						</div>
						<div class="inline field">
					<div class="ui checkbox">
						<input id="conditions" type="checkbox" name="user.conditions" required>
						<label for="conditions">I agree to the terms and
							conditions</label>
					</div>
					</div>
					<button type="submit" class="ui blue submit button">Register</button>
				</div>
			</form>
		</div>
	</div>
</section>